<!doctype html>
<html lang="en">
<head>
    {% import "bootstrap/wtf.html" as wtf %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>{{title}}</title>
</head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Электронная библиотека</a>
        <form class="navbar-brand" method="get"
                    action="/search">
            <div class="form-group">
                {{ wtf.quick_form(searchform) }}
            </div>
        </form>
        <a class="navbar-brand" href="/upload">Загрузить книгу</a>
        {% if 'is_admin' in session and session.get('is_admin') %}
            <a class="navbar-brand" href="/all_users">Список всех пользователей</a>
        {% endif %}
        {% if "username" in session %}
            <a class="navbar-brand" href="/logout">{{session['username']}}</a>
        {% else %}
            <a class="navbar-brand" href="/sign_up">Регистрация</a>
            <a class="navbar-brand" href="/login">Вход</a>
        {% endif %}
      </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <!-- Begin page content -->
    <main role="main" class="container">
    {% block content %}{% endblock %}
    </main>
  </body>
</html>