{% extends "base.html" %}
 
{% block content %}
    <h1>Поиск книги</h1>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.request }}<br>
            {% for error in form.request.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        {% if books %}
            <ul class="list-group">
                <table>
                <tr>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Пользователь</th>
                </tr>
                {% for book in books %}
                    <tr>
                    <th><li class="list-group-item">{{book[0]}}</li></th>
                    <th><li class="list-group-item">{{book[1]}}</li></th>
                    <th><li class="list-group-item">{{book[2]}}</li></th>
                    <th><a class="navbar-brand" href="/download_file/{{book[3][:-1]}}">Скачать</a></th>
                    </tr>
                {% endfor %}
                </table>
            </ul>
        {% endif %}
    </form>
{% endblock %}